@charset "utf-8";

.layout {max-width:1086px; margin:0 auto; position:relative;}
.top_area {position:fixed; left:0; top:0; width:100%; height:72px; z-index:100; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease;}
.top_area .con {max-width:1086px; margin:0 auto; position:relative; padding-left:180px; box-sizing:border-box; padding-right:170px;}
.top_logo {position:absolute; left:50%; top:36px; display:block; margin-left:-100px; z-index:900; -webkit-transition: top 400ms;transition: top 400ms;}
.top_menu {padding-top:107px; -webkit-transition:all 0.3s ease; transition:all 0.3s ease;}
.top_menu .layout {padding:0;}
.top_menu a {display:inline-block; vertical-align:top; width:20%; height:57px; line-height:57px; text-align:center; cursor:pointer; box-sizing:border-box;}
.top_menu a.on span {color:#e26d45;}
.top_menu a span {display:block; height:16px; font-size:18px; color:#fff; font-weight:400;}

.top_area.transOn {height:123px; background:#fff; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12); box-shadow: 0 1px 3px rgba(0, 0, 0, .12);}
.top_area.transOn .top_logo {top:10px; margin-left:-86px;}
.top_area.transOn .top_logo svg * {fill: #333333 !important;}
.top_area.transOn .top_logo svg {width:172px; height:70px;}
.top_area.transOn .top_menu {padding-top:66px;}
.top_area.transOn .top_menu a span {color:#171717;}
.top_area.transOn .top_menu a.on span {color:#e26d45;}

.main_visual.scrolling_fixed {width:100%; height:100%; padding:0; position:fixed; top:0; left:0;}
.scrolling_up {margin-top:891px; position:relative; z-index:10; background: #fff; padding:0;}
.main_visual {position:relative; box-sizing:border-box;}
.main_visual .imgs li {display:none; position:absolute; top:0; left:0; width:100%; text-align:center; height:891px; overflow: hidden;}
.main_visual .imgs li.slide_1 {background:url(/images/template2/main_visual.jpg) no-repeat center top; background-size:cover;}
.main_visual .imgs li.slide_2 {background:url(/images/template2/main_visual2.jpg) no-repeat center top; background-size:cover;}
.main_visual .paging {position:absolute; bottom:156px; left:50%; margin-left:-44px; width:100%;}
.main_visual .paging li {display:inline-block; margin:0 9px; width:22px; height:22px; text-indent: -9999px; cursor:pointer; border:1px solid #fff;}
.main_visual .paging li.on {background:#fff;}

.main_visual .t_pos {position:absolute; left:50%; top:250px; margin-left:-198px; display:none;}
.main_visual .txt {box-sizing:border-box; padding:48px 20px; margin:0 auto; background:rgba(0,0,0,.5); display:inline-block;}
.main_visual .txt .t1 {margin-bottom:30px;}
.main_visual .txt .t1 span {display:inline-block; vertical-align:top;margin-left:27px; font-size:75px; color:#e2bb44; font-weight:300;}
.main_visual .txt .t1 span:first-child {margin-left:0;}
.main_visual .txt .t2 {margin-bottom:30px;}
.main_visual .txt .t2 span {display:inline-block; vertical-align:top;margin-left:33px; font-size:106px; color:#fff; font-weight:700;}
.main_visual .txt .t2 span:first-child {margin-left:0;}
.main_visual .txt .t3 {}
.main_visual .txt .t3 span {display:inline-block; vertical-align:top;margin-left:25px; font-size:54px; color:#96e244; font-weight:300;}
.main_visual .txt .t3 span:first-child {margin-left:0;}


.main_con_1 {}
.main_con_1 li {padding-top:56px;height:419px; position:relative; text-align:center; background:#fff;}
.main_con_1 li h1 {padding-top:24px; text-align:center; font-size:32px; color:#171717; margin-bottom:35px;}
.main_con_1 li h1 span {color:#e6440d;}
.main_con_1 li p {font-size:15px; line-height:24px; color:#585858; font-weight:300;letter-spacing:-0.04em; padding:0 3%;}
.main_con_1:after {clear:both; display:block; content:"";}

.main_con_2 {margin-top:-136px; padding-bottom:112px; background:url(/images/template2/main_con1.jpg) no-repeat center top; background-size:cover;}
.con_2_box2 {}
.con_2_box2 li {float:left; width:33.333%; height:343px; box-sizing:border-box; padding:54px 33px 60px 33px; text-align:center; letter-spacing:-0.04em;}
.con_2_box2 li.b1 {background:#ecbe34;}
.con_2_box2 li.b2 {background:url(/images/template2/box_img2.jpg) no-repeat center top; background-size:cover;}
.con_2_box2 li.b3 {background:#e26d45;}
.con_2_box2 li.b4 {background:url(/images/template2/box_img4.jpg) no-repeat center top; background-size:cover;}
.con_2_box2 li.b5 {background:#de892a;}
.con_2_box2 li.b6 {background:url(/images/template2/box_img6.jpg) no-repeat center top; background-size:cover;}
.con_2_box2 dl {display:table; width:100%; height:100%;}
.con_2_box2 li dl dd {display:table-cell; vertical-align:middle;}
.con_2_box2 li dl dd p {font-size:25px; color:#fff;font-weight:300;}
.con_2_box2 li dl dd span {display:block; font-size:13px; font-weight:200; line-height:22px; color:#fff; padding-top:23px; padding-bottom:48px;}
.con_2_box2 li dl dd a {display:inline-block; vertical-align:top; width:129px; height:45px; line-height:45px; border:1px solid #fff; font-size:15px; font-weight:200; color:#fff;}
.con_2_box2:after {clear:both; display:block; content:"";}

.main_con_3 {padding-top:56px; padding-bottom:120px;text-align:center;}
.main_con_3 h1 {padding-top:24px; padding-bottom:25px; text-align:center; font-size:32px; color:#171717;}
.main_con_3 h1 span {color:#e6440d;}
.main_con_3 .menu {width:100%; border-bottom:1px solid #dedede; }
.main_con_3 .menu ul {max-width:570px; margin:0 auto;}
.main_con_3 .menu li {display:inline-block; width:19%; cursor:pointer;vertical-align:top; box-sizing:border-box; height:65px; line-height:65px; text-align:center; font-size:15px; color:#141414; letter-spacing:-0.08em;}
.main_con_3 .menu span {}
.main_con_3 .menu span.on:after {content: ""; display: block; width: 70%; border-bottom:3px solid #de892a; margin: -2px auto;}

.main_gall_list {margin-left:-15px;padding-top:4px;}
.main_gall_list li {float:left; box-sizing:border-box; width:25%; padding-left:15px; padding-top:42px;}
.main_gall_list li .img {}
.main_gall_list li .txt {font-size:15px; color:#141414; text-align:center; border-top:0; padding:0 10px; padding-top:14px;}
.main_gall_list li .txt p {line-height:19px; overflow:hidden; }
.main_gall_list:after {clear:both; margin:0; padding:0; display:block; content:"";}

.main_con_4 {padding-top:56px; padding-bottom:205px; text-align:center; background:url(/images/template2/intro_img.jpg) no-repeat center top; background-size:cover;}
.main_con_4 h1 {padding-top:24px; padding-bottom:50px; text-align:center; font-size:32px; color:#fff;}
.con_4_box {max-width:852px; margin:0 auto;}
.con_4_box li {float:left; width:50%;height:427px;box-sizing:border-box;}
.con_4_box li.b1 {background:url(/images/template2/ceo_img.jpg) no-repeat center top; background-size:cover;}
.con_4_box li.b2 {background:#fff; text-align:left; padding-top:65px; padding-left:5%;}
.con_4_box li.b2 h2 {font-size:24px; color:#565656; line-height:31px; letter-spacing:-0.04em;}
.con_4_box li.b2 p {padding-top:18px; font-size:13px; color:#757575; line-height:24px; letter-spacing:-0.04em;}
.con_4_box li.b2 .sign {float:right; padding-top:40px;padding-right:50px;}
.con_4_box li.b2 .r10 {padding-right:10px;}
.con_4_box:after {clear:both; display:block; content:"";}


.main_con_5 {padding-top:56px; padding-bottom:103px;text-align:center;}
.main_con_5 h1 {padding-top:24px; text-align:center; font-size:32px; color:#171717; margin-bottom:35px;}
.main_con_5 h1 span {color:#e6440d;}

.cont_5_cs {}
.cont_5_cs:after {clear:both; display:block; content:"";}
.cont_5_cs li {float:left;}
.cont_5_tit {width:19%; vertical-align:top; text-align:left; border-top:3px solid #1d1d1d; }
.cont_5_tit h2 {font-size:41px; font-weight:300; color:#e85529; line-height:28px; margin-top:22px;letter-spacing:-0.04em;}
.cont_5_tit h3 {font-size:26px; font-weight:800; color:#171717; line-height:28px; margin:22px 0 0 2px;}
.cont_5_tit p {font-size:26px; color:#171717; margin:22px 0 0 2px;}
.cont_5_tit .comment {font-size:12px; color:#828282; margin:15px 0 0 4px; line-height:15px;}
.cs_con {width:77%; padding-left:4%;}
.cont_5_tit_rsp {display:none;}

.table1 {width:100%; border-top:3px solid #1d1d1d; margin-bottom:70px;}
.table1 tbody td, .table1 tbody th {vertical-align:middle; border-bottom:1px solid #dcdcdc; background:#fff; padding:18px 0; font-weight:300;}
.table1 tbody td {color:#8f8f8f; font-size:12px;}
.table1 tbody th {text-align:left; color:#000; font-size:15px; text-overflow: ellipsis; }
.table1 img.tcol, .table2 img.tcol {vertical-align:middle; padding-right:20px;}

.table2 {width:100%; border-top:3px solid #1d1d1d; margin-bottom:30px;}
.table2 tbody td {text-align:left;padding:13px 0; color:#000; font-size:13px; vertical-align:middle; border-bottom:1px solid #dcdcdc; background:#fff; }
.table2 tbody td input[type=text] {height:30px; width:100%; max-width:208px; box-sizing:border-box; border:1px solid #cecece; background-color:#f2f2f2;}
.table2 tbody td textarea {width:85%; box-sizing:border-box; padding:20px; border:1px solid #cecece; background-color:#f2f2f2; height:79px;}
.table2 tbody td span {display:inline-block; width:80px;}

.cont_5_cs .btn {text-align: center;}
.cont_5_cs .btn button {width:100%; max-width:155px; height:50px; line-height:50px; text-align:center; background:#e85529; border:0; font-size:20px; color:#fff; font-weight:400;}


.main_con3 {padding-top:70px; padding-bottom:90px;}
.main_con3 h1 {font-family:'Nanum Myeongjo', 'serif'; text-align:center; font-size:38px; color:#353535; font-style:italic; margin-bottom:30px;}
.main_con3 h1 span {display:block; font-size:26px; color:#c4c4c4;}
.main_con3 h2 {font-size:15px; color:#555555; text-align:center; margin-bottom:40px;}
.main_con3 h2 span {display:block; font-size:14px; color:#f13f3f; padding-top:12px;}
.main_con3 .reser {margin-left:13px; margin-bottom:16px;}
.main_con3 .reser span {display:inline-block; vertical-align:top; width:33.333%; box-sizing:border-box;padding-left:13px; position:relative;}
.main_con3 .reser span input {width:100%; box-sizing:border-box; height:53px; border:1px solid #d2d2d2;}
.main_con3 .reser span strong {display:block; position:absolute; right:27px; top:0; height:53px; line-height:53px; font-size:14px; color:#555;}
.main_con3 .agree {text-align:center; padding-top:10px; margin-bottom:50px;}
.main_con3 .agree label {font-size:14px; padding:0 7px; color:#929292;}
.main_con3 .agree a {font-size:14px; color:#929292;}
.main_con3 .btn {text-align:center;}
.main_con3 .btn button {width:100%; max-width:238px; height:44px; line-height:44px; text-align:center; background:#eb721a; border:0; font-size:17px; color:#fff; font-weight:600;}

.root_daum_roughmap {width:100% !important; height:585px !important;}
.root_daum_roughmap .wrap_map {height:585px !important;}

.move_top_btn {position:fixed; right:2%; bottom:50px; display:none; z-index:999; cursor:pointer;}

.board_pop1 {cursor:pointer;}
.board_popup {position:fixed; left:0; top:0; width:100%; height:100%; background:#f5f5f5; z-index:200; padding:20px; box-sizing:border-box; display:none;}
.board_popup .con {position:relative; background:#fff; height:100%; overflow-y:scroll; padding:40px 20px; box-sizing:border-box;}
.pop_close {cursor:pointer; position:absolute; right:70px; top:43px;}
.board_popup .con .content {max-width:1300px; margin:0 auto;}
.board_popup .con .content .img {text-align:center; margin-bottom:40px;}
.board_popup .con .content .tit {text-align:center; margin-bottom:58px;}
.board_popup .con .content .tit span {font-size:66px; color:#d2d2d2; font-weight:500; letter-spacing:-0.04em;}
.board_popup .con .content .box1 {height:54px; line-height:54px; border-top:1px solid #333; border-bottom:1px solid #333; padding:0 30px; font-size:17px; color:#333; font-weight:500;}
.board_popup .con .content .box1 span {float:right; font-size:13px; color:#777; font-weight:400;}
.board_popup .con .content .box2 {padding:30px; min-height:400px; border-bottom:1px solid #bbb; font-size:14px; color:#333; margin-bottom:30px;}
.board_popup .con .content .box3 {text-align:center;}
.board_popup .con .content .box3 span  {display:inline-block; vertical-align:top; width:25%; box-sizing:border-box; max-width:128px; padding:0 3px;}
.board_popup .con .content .box3 span a {display:block; height:40px; line-height:40px; background:#666; border:1px solid #595959; font-size:15px; color:#fff; cursor:pointer;}
.board_popup .con .content .box3 span:first-child a {background:#f8a92e; border:1px solid #f49b10;}
.board_popup2 {position:fixed; left:0; top:0; width:100%; height:100%; background:#f5f5f5; z-index:200; padding:20px; box-sizing:border-box; display:none;}
.board_popup2 .con {position:relative; background:#fff; height:100%; overflow-y:scroll; padding:40px 20px; box-sizing:border-box;}
.board_popup2 .con .content {max-width:1300px; margin:0 auto;}
.board_popup2 .con .content .img {text-align:center; margin-bottom:50px;}
.board_popup2 .con .content .tit {text-align:center; margin-bottom:58px;}
.board_popup2 .con .content .tit span {font-size:66px; color:#d2d2d2; font-weight:500; letter-spacing:-0.04em;}
.board_popup2 .con .content .box3 {text-align:center;}
.board_popup2 .con .content .box3 span  {display:inline-block; vertical-align:top; width:40%; box-sizing:border-box; max-width:128px; padding:0 3px;}
.board_popup2 .con .content .box3 span a {display:block; height:40px; line-height:40px; background:#666; border:1px solid #595959; font-size:15px; color:#fff; cursor:pointer;}
.board_popup2 .con .content .box3 span:first-child a {background:#f8a92e; border:1px solid #f49b10;}

.write_tb {border-top:1px solid #333; border-bottom:1px solid #bbb; margin-bottom:30px;}
.write_tb tbody th, .write_tb tbody td {vertical-align:middle; border-top:1px solid #ddd;}
.write_tb tbody tr:first-child th, .write_tb tbody tr:first-child td {border-top:0;}
.write_tb tbody th {background:#fafafa; padding: 0 20px; width:210px; box-sizing:border-box; font-size:14px; color:#383838; font-weight:500;}
.write_tb tbody td {padding:10px 20px; height:30px; font-size:13px;}
.write_tb tbody td input[type=text], .write_tb tbody td input[type=password] {height:30px; border:1px solid #ddd; width:100%;}
.write_tb tbody td input.type1 {max-width:262px;}
.write_tb tbody td label {font-size:12px; color:#888; padding-left:6px;}
.write_tb tbody td input[type=file] {width:100%;}

.bnt_pop_view {cursor:pointer;}
.pop_view {position:absolute; left:0; width:100%; z-index:300; display:none; margin-top:-200px;}
.pop_view .con {width:90%; max-width:898px; margin:0 auto; background:#fff;}
.pop_view .con .tit {position:relative; height:60px; line-height:55px; text-align:center; font-size:25px; color:#fff; background:#df7b1a; font-weight:300;}
.pop_view .con .tit img {cursor:pointer; position:absolute; right:0; top:0;}
.pop_view .con .box {padding:47px 60px;}
.pop_view .con .box .txt {height:316px; box-sizing:border-box; padding:33px 0;}
.pop_view .con .box .txt h2 {font-size:23px; line-height:30px; color:#565656; padding: 0 13px; letter-spacing:-0.04em;}
.pop_view .con .box .txt .box2 {height:200px; padding:29px 13px 0 13px; }
.pop_view .con .box .txt .box2 .ptxt {height:171px; font-size:13px; line-height:24px; color:#757575; font-weight:300; word-break: break-all; overflow-y: auto; letter-spacing:-0.04em;}

.btn_menu_view {cursor:pointer;}
.menu_detail {position:absolute; left:0; width:100%; z-index:300; display:none; margin-top:-200px;}
.menu_detail .con {width:90%; max-width:430px; margin:0 auto; background:#fff;}
.menu_detail .con .tit {position:relative; height:60px; line-height:55px; text-align:center; font-size:25px; color:#fff; background:#df7b1a; font-weight:300;}
.menu_detail .con .tit img {cursor:pointer; position:absolute; right:0; top:0;}
.menu_detail .con .box {padding:47px 60px;}
.menu_detail .con .box img {width:100%;}
.menu_detail .con .box .txt {height:186px; box-sizing:border-box; padding:33px 0;}
.menu_detail .con .box .txt h2 {font-size:23px; line-height:30px; color:#565656; padding: 0 13px; letter-spacing:-0.04em;}
.menu_detail .con .box .txt .box2 {height:200px; padding:29px 13px 0 13px;}
.menu_detail .con .box .txt .box2 .ptxt {font-size:14px; line-height:24px; color:#757575;font-weight:300; word-break: break-all; overflow-y: auto; letter-spacing:-0.04em;}
.menu_detail .con .box .txt .box2 .ptxt2 {padding-top:20px; font-size:13px; color:#757575;}
.menu_detail .con .box .txt .box2 .ptxt2 b {font-weight:500;}


footer {}
footer .foot_1 {background:#131313;}
footer .foot_1 .layout {}
footer .foot_1 dt {display:inline-block; vertical-align:top; padding:18px 0 17px 17px;}
footer .foot_1 dd {position:absolute; right:0; top:0; height:100%; display:block;padding-right:10px;}
footer .foot_1 dt a {display:inline-block; height:17px; line-height:17px; font-size:13px; color:#b3b2b2; font-weight:300; padding-right:30px; margin-right:30px;}
footer .foot_1 dd {position:absolute; right:0; top:0; height:100%; display:block;padding-right:25px;}
footer .foot_1 dd .sns {}
footer .foot_1 dd .sns a {display:inline-block; vertical-align:top; margin-left:11px; margin-top:16px;}
footer .foot_2 {border-top:1px solid #2b2b2b; padding-top:22px; padding-bottom:43px; background:#1d1d1d;}
footer .foot_2 .layout {}
footer .f_logo {position:absolute; top:0; left:8px;}
footer .txt {padding-top:24px;padding-left:216px; font-size:12px; line-height:14px; color:#b7b7b7; opacity:0.27;}
footer .cs_box {position:absolute; top:20px; right:27px; border:1px solid #313131; background:#191919; height:35px; line-height:35px; padding:0 15px;}
footer .cs_box span {font-size:12px; font-weight:300; color:#a8a8a8;}

.black {position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.7); z-index:200; display:none;}

.m_menu {display:none;}
.m_menu_sub {display:none;}


/* ======================================================================================================================================================================================================================== */


@media screen and (max-width:1250px) {

}


@media screen and (max-width:1024px) {
.write_tb tbody th {width:140px;}

.top_menu {display:none;}
.m_menu {position:absolute; right:30px; top:38px; cursor:pointer; z-index:400; display:block;}
.m_menu_sub {position:fixed; left:0; top:0; width:100%; height:100%; z-index:300;}
.m_menu_sub dl {display:table; width:100%; height:100%;}
.m_menu_sub dl dd {display:table-cell; vertical-align:middle;}
.m_menu_sub dl dd ul {width:80%; max-width:318px; margin:0 auto;}
.m_menu_sub dl dd ul li {cursor:pointer; height:50px; line-height:50px; font-size:14px; color:#fff; text-align:center; border-bottom:1px solid #e2bb44;}
.top_logo {left:110px; top:26px;}
.top_area.transOn .top_logo {top:26px;}
.top_area .sns {right:106px;}
}

@media screen and (max-width:950px) {
footer .cs_box {display:none;}
}

@media screen and (max-width:850px) {
.main_gall_list {margin-left:-20px;}
.main_gall_list li {padding-left:20px; padding-top:20px;}
.main_gall_list li .txt h2 {font-size:22px; height:20px;}
.main_gall_list li .txt p {font-size:13px; height:35px;}
.con_2_box2 li {width:50%;}
.cs_con {padding:0 3%; width:94%;}
.cont_5_tit {display:none;}
.cont_5_tit_rsp {display:block;padding:40px 0 15px 0;font-size:22px; font-weight:800; color:#171717;}

footer .foot_1 {padding-bottom: 20px;}
footer .foot_1 dt {display: block; text-align: center;}
footer .foot_1 dt a {margin-right: 0; padding: 0 8px; font-size: 12px; letter-spacing: -1px;}
footer .foot_1 dd {position: relative; right: inherit; top: inherit; width: 100%; height: inherit; border: 0; padding: 0; text-align: center;}
footer .foot_1 dd .sns a {margin-top:0;}
footer .foot_2 .layout {padding-left:0; text-align:center;}
footer .foot_2 .f_logo {position:relative; left:inherit; top:inherit;}
footer .foot_2 .txt {padding-top:15px; padding-left:0;}

}

@media screen and (max-width:800px) {
.main_con_1 {padding-top:40px; padding-bottom:40px;}
.main_con_2 {padding-left:0;}
.main_con_2 .img {position:relative; text-align:center; left:inherit;}
.main_con_3 {padding-top:40px; padding-bottom:40px;}

.table1 {margin-bottom: 40px;}
.table1 colgroup, .table2 colgroup {display:none;}
.table1 tbody tr, .table1 tbody th, .table1 tbody td, .table2 tbody td {display:block;}
.table1 tbody th, .table1 tbody td {border-bottom:none; padding:0; height:35px; line-height:35px;}
.table1 tbody tr, .table2 tbody tr {border-bottom:1px solid #dcdcdc;}
.table1 tbody td, .table2 tbody td {text-align:left; padding-left:24px;}
.table2 tbody td {border-bottom:none;} 
.table2 tbody td.rsp_bt {border-top:1px solid #dcdcdc;}
.table2 tbody td textarea {width:75%;}

.pop_view .con .box .txt .box2 .ptxt {padding-right:20px;}

}


@media screen and (max-width:640px) {
.main_gall_list li {width:50%;}
.main_con_2 .txt h2 {font-size:24px; line-height:35px;}
.main_con_2 .txt p {font-size:13px; line-height:20px;}
.top_menu a span {font-size:14px; letter-spacing:-1px;}

.root_daum_roughmap {height:300px !important;}
.root_daum_roughmap .wrap_map {height:300px !important;}

.pop_close {top:30px; right:30px; width:30px; height:auto;}
.board_popup {padding:10px;}
.board_popup .con {padding:30px 10px;}


.write_tb colgroup {display:none;}
.write_tb tbody th {width:70px; padding:0 10px;}
.con_2_box2 li {width:100%; float:none;}
.con_4_box li {float:none; width:100%;}
.pop_view .con .box .txt h2 {font-size:17px; line-height:20px;}
.move_top_btn {width:72px; height:72px;}
}

@media screen and (max-width:480px) {
.main_gall_list {margin-left:0;}
.main_gall_list li {width:100%; float:none; padding-left:0;}
.main_gall_list li .img img {width:100%;}
.main_con_3 .menu li {font-size:14px;}
}

@media screen and (max-width:440px) {
.main_con_1 li h1 {font-size:26px;}
.main_visual .t_pos {margin-left:-170px;}
.main_visual .txt .t1, .main_visual .txt .t2 {text-align:center;}
.main_visual .txt .t1 span {font-size:45px;}
.main_visual .txt .t2 span {font-size:66px;}
.main_visual .txt .t3 span {font-size:44px;}
}



